
.header {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, darkblue 0%, blue 100%);
}

.header_logo__text {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 14px;
    width: 95%;
    margin-left: 4px;
}

.header_logo__text--primary {
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.header_logo__text--secondary {
    font-family: Roboto;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 1px;
}

.header_logo {
    width: 47px;
    height: 30px;
    margin: 20px;
}

.header_logoisg {
    width: 35px;
    height: 32px;
    margin: 20px;
    margin-bottom: 18px;
}

.right {
    text-align: right;
}

.logout {

    text-align: right;
    margin-top: 5px;
    padding-right: 15px;
}

.loginerror {

    color: red;
}

.error {

    color: red;
}

* {
    box-sizing: border-box;
}


body {
    background-color: rgba(245, 245, 245, 1);
}

.login-form {

    padding: 14px 18px 19px 20px;
    width: 400px;
    background-color: rgba(255, 255, 255, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(224, 224, 224, 1);
    border-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
    margin: 0;
}

.login-form_loginsso--ssoicon {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
    margin-top: 28px;
}

.login-forom_loginsso-ssotext {
    margin-left: -168px;
    margin-top: 28px;
}

.login-form__pwd_control {

    /*display:flex;*/
    padding-top: 200px;
    align-items: center;
    justify-content: space-between;
    /*flex-direction:column;*/

    display: flex;
    flex-direction: column;
    margin-top: -68px;
}

.login-form__error {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 5px;
    width: 360px;
    display: none;
    margin-top: 14px;
    margin-bottom: -10px;
    background-color: rgba(255, 235, 238, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 205, 210, 1);
    border-radius: 4px;
    box-shadow: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    text-align: left;
}

.login-form__error--active {
    display: block;
}

.login-form__label {
    padding-top: 13px;
    display: block;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.login-form__input {
    display: block;
    width: 100%;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-top: 11px;
    padding-left: 17px;
    height: 36px;
    border: 1px solid #ccc;
    border-color: #E6E6E6;
    border-radius: 6px;
    box-sizing: border-box;
}

.login-form__input.login-form__input--login {
    margin-top: 8px;
}

.login-form__input.login-form__input--password {
    margin-top: 8px;
    margin-bottom: 3px;
}

.login-form__loginsso {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;

    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

.login-form__loginsso--login {
    padding-bottom: 2px;
    width: 74px;
    height: 32px;
    margin-top: 21px;
    background: rgba(25, 118, 210, 1);
    border: 0px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    color: #FFFFFF;
}

.login-forom_loginsso-ssotext {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #1976D2;
}

.login-form__submit:hover {
    border-color: rgba(13, 71, 161, 1);
    box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.247058823529412);
    cursor: pointer;
}

.login-form__submit:active {
    background-color: rgba(19, 91, 173, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(13, 71, 161, 1);
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(13, 13, 13, 0.247058823529412), 0px 3px 3px -1px rgba(0, 0, 0, 0.247058823529412) inset;
}

.pwd_controls {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    height: 32px;
    width: 400px;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #2962FF;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(224, 224, 224, 1);
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: 1px;
    background-color: rgba(250, 250, 250, 1);
}

.pwd_controls__change {
    padding-left: 22px;
    padding-top: 9px;
}

.pwd_controls__reset {
    padding-top: 9px;
    padding-left: 18px;
}

.pwd_controls__newaccess {
    padding-top: 9px;
    padding-left: 16px;
}

/*Handover*/

#container1 {

    padding: 25px;
}

#navBar {
    background: linear-gradient(to right, #207ce5 0%, #207ce5 100%);
    color: white;
}

.nav1 {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;

}

#handoverPanel {
    margin-top: 50px;

}

.wrapText {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

/*End*/

/*Create Account*/

.valid {

    color: green;
}

/*th {*/
/*font-size: small;*/
/*}*/


.table-wrapper-scroll-y {
    display: block;
    max-height: 800px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#tableHead {
    font-size: 14px;
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    font-weight: 100;
    background: linear-gradient(to right, #207ce5 0%, #207ce5 100%);
    color: aliceblue;
}

#prodTableHead {
    font-size: 14px;
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    font-weight: 100;
    background: linear-gradient(to right, #207ce5 0%, #207ce5 100%);
    color: aliceblue;
}

#uatTableHead {
    font-size: 14px;
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    font-weight: 100;
    background: linear-gradient(to right, #207ce5 0%, #207ce5 100%);
    color: aliceblue;
}

#sitTableHead {
    font-size: 14px;
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    font-weight: 100;
    background: linear-gradient(to right, #207ce5 0%, #207ce5 100%);
    color: aliceblue;
}

#tableBody {
    font-size: 12px;
    font-family: "Roboto Medium", "Roboto Regular", Roboto;

}

#container1 {
    margin-top: 10px;
}

.dataTables_wrapper {

    /*color: red;*/
    /*font-size: 12px;*/
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    font-weight: 100;
    text-decoration-color: #207ce5;
    position: relative;
    clear: both;

}

.title-hand {
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    /*text-align: center;*/
    color: grey;
}

.container {
    align-items: end;
}

#action {
    width: fit-content;
}

/*headerbar Start*/
.navbar {
    min-height: 22px !important;
    background-color: cornflowerblue;
    background-size: auto !important;
    margin-bottom: 2px !important;
}

#monitorTab {
    min-height: 22px !important;
    background: linear-gradient(to right, #207ce5 0%, #207ce5 100%);
    color: white;
    background-size: auto !important;
    margin-bottom: 2px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    line-height: 16px !important;
    margin-bottom: 2px !important;
}

/*.navbar-xs .navbar-brand{ padding: 2px 8px;font-size: 14px;line-height: 14px; }*/
.navbar .navbar-nav > li > a {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    line-height: 16px !important;
    margin-bottom: 2px !important;
}

#log123 {

    font-size: 3px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

}

#welcome {

    font-size: 12px !important;
    padding: 0 4px 0px;
    margin: 0 4px 0px;

}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F1F9FF;
}

#expo {
    float: right;
    background-color: #207ce5;
    margin-left: 10px;
}

#excelForm {
    float: right;
}

#navBar {
    background-color: blue;
}

#tab {
    color: white;
}

/* ------------------------------------------------////////////////////----------------------------------------------------*/
#monitorTitle {
    font-family: "Roboto Medium", "Roboto Regular", Roboto;
    position: center;
    color: darkslategrey;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*Release manager*/

#deadLine {
    float: right;

}

#progressbar {
    float: left;
}


table#myTable tableBody td {
    height: 7px;
    overflow: hidden;
    word-break: break-word;
}

table#myTable7 tbody td {
    padding: 0px;
    /* padding: 8px 10px; */
}

#marginChange td p {
    margin: 2px 0 0px;
    padding: 2px 0 4px;
}

#marginChangeHigh td p {
    margin: 2px 0 0px;
    padding: 2px 0 4px;
}

#marginChangeHigh td  {
    margin: 2px 0 0px;
    padding: 4px 0 4px;
}
#marginChange td  {
    margin: 2px 0 0px;
    padding: 2px 2px 4px;
}
#marginChange{
    padding: 4px 0 4px;
    margin: 4px 0 0px;
}


#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;         /* Height of the footer */
    background: lightgrey;
}
#footer p {
    margin:0;
    padding:10px;
    padding-left: 47%;
}

/*End*/

/*Changes in Home Start*/
.homeTabs {

    padding-top: 20px;
}

.required:after {
    content: " *" ;
    color:red;
}
.alert{
    /*width: fit-content;*/
}

#counter{
    font-family: "Roboto Medium", "Roboto Regular", Roboto;

}